* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  position: relative;
}

main {
  background-color: #181f2a;
}

.header {
  background-color: #1c2431;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position-y: bottom;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  height: 80vh;
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: url("../images/bg-curvy-desktop.svg");
    background-size: 80vw;
    background-position-x: -100px;
    background-position-y: 400px;
    padding-top: 80px;
  }
}
.header__logo {
  width: 25%;
  margin-left: 15px;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    width: 10%;
    margin-left: 35px;
  }
}
.header__logo img {
  width: 100%;
}
.header__navigation {
  line-height: 25px;
  margin-right: 20px;
}
@media screen and (min-width: 1024px) {
  .header__navigation {
    line-height: 40px;
    margin-right: 150px;
  }
}
.header__navigation button {
  background-color: transparent;
  border: none;
  color: #ddd;
  cursor: pointer;
  font-size: 16px;
  margin-left: 15px;
  transition: 0.2s linear;
}
@media screen and (min-width: 1024px) {
  .header__navigation button {
    margin-left: 35px;
  }
}
.header__navigation button:hover {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.hero {
  left: 0;
  position: absolute;
  top: 5%;
}
@media screen and (min-width: 1024px) {
  .hero {
    left: 0%;
    top: 7%;
  }
}
.hero__image {
  width: 90%;
  margin: 0 5%;
}
@media screen and (min-width: 1024px) {
  .hero__image {
    width: 30%;
    margin: 0 auto;
  }
}
.hero__image img {
  width: 100%;
}
.hero__text {
  color: #ffffff;
  margin: 30px 15px 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero__text {
    margin: 30px 450px 0;
  }
}
.hero__text h1 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 150%;
  margin-bottom: 15px;
}
.hero__text p {
  font-size: 16px;
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  .hero__text p {
    margin: 0 30px 25px;
  }
}
.hero__text button {
  background: linear-gradient(to right, #65e2d9 0%, #65e2d9 10%, #339ecc 100%);
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 60px;
  transition: 0.3s linear;
}
@media screen and (min-width: 1024px) {
  .hero__text button {
    padding: 15px 80px;
  }
}
.hero__text button:hover {
  background: linear-gradient(to right, #65e2d9 0%, #65e2d9 100%);
}

.functions {
  display: flex;
  flex-direction: column;
  padding-top: 350px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .functions {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 150px;
    width: 100%;
  }
}
.functions__single-function {
  color: #ffffff;
  margin-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .functions__single-function {
    width: 35%;
  }
}
.functions__single-function h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 50px 0 10px;
}
.functions__single-function p {
  font-size: 14px;
  line-height: 150%;
  padding: 0 25px;
}
@media screen and (min-width: 1024px) {
  .functions__single-function p {
    padding: 0 65px;
  }
}

.stay-productive {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
@media screen and (min-width: 1024px) {
  .stay-productive {
    flex-direction: row;
    margin-top: 20px;
  }
}
.stay-productive__image {
  width: 90%;
  margin: 0 5%;
}
@media screen and (min-width: 1024px) {
  .stay-productive__image {
    margin-left: 150px;
    width: 55%;
  }
}
.stay-productive__image img {
  width: 100%;
}
.stay-productive__text {
  color: #ffffff;
  margin: 50px 15px;
}
@media screen and (min-width: 1024px) {
  .stay-productive__text {
    margin: 100px 150px 0 0px;
  }
}
.stay-productive__text h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .stay-productive__text h2 {
    font-size: 30px;
    margin-right: 250px;
    text-align: left;
  }
}
.stay-productive__text p {
  margin: 15px 10px;
}
@media screen and (min-width: 1024px) {
  .stay-productive__text p {
    margin: 15px 0;
  }
}
.stay-productive__text button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #65e2d9;
  display: flex;
  color: #65e2d9;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding-bottom: 5px;
  transition: 0.2s linear;
}
@media screen and (min-width: 1024px) {
  .stay-productive__text button {
    margin-left: 0;
  }
}
.stay-productive__text button img {
  margin-left: 8px;
  transition: 0.2s linear;
}
.stay-productive__text button:hover {
  border-color: #ffffff;
  color: #ffffff;
}
.stay-productive__text button:hover img {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(212deg) brightness(106%) contrast(101%);
}

.quotes {
  display: flex;
  flex-direction: column;
  padding-bottom: 355px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .quotes {
    flex-direction: row;
    margin: 150px 35px;
  }
}
.quotes__image {
  left: 5%;
  position: absolute;
  top: -3.5%;
  width: 8%;
}
@media screen and (min-width: 1024px) {
  .quotes__image {
    left: 1.5%;
    top: -19%;
    width: 4%;
    z-index: 0;
  }
}
.quotes__image img {
  width: 100%;
}
.quotes__single-quote {
  background-color: #202a3c;
  color: #ffffff;
  margin: 0 5% 25px;
  width: 90%;
  height: 30vh;
}
@media screen and (min-width: 1024px) {
  .quotes__single-quote {
    z-index: 1;
    height: 20vh;
    margin: 0;
    margin-left: 30px;
    width: 30%;
  }
}
.quotes__single-quote p.quote {
  margin: 25px 5px 0 25px;
  line-height: 150%;
}
@media screen and (min-width: 1024px) {
  .quotes__single-quote p.quote {
    margin-right: 75px;
  }
}
.quotes__single-quote-employee img {
  width: 10%;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .quotes__single-quote-employee img {
    width: 6%;
  }
}
.quotes__single-quote-employee h3 {
  font-size: 15px;
  font-weight: 400;
  margin-left: 70px;
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .quotes__single-quote-employee h3 {
    font-size: 12px;
    margin-left: 55px;
  }
}
.quotes__single-quote-employee p {
  font-size: 10px;
  margin-left: 70px;
}
@media screen and (min-width: 1024px) {
  .quotes__single-quote-employee p {
    font-size: 8px;
    margin-left: 55px;
  }
}

.early-access {
  background-color: #1c2431;
  border-radius: 10px;
  box-shadow: 5px 3px 18px 0px rgb(16, 16, 16);
  display: flex;
  flex-direction: column;
  height: 55vh;
  left: 5%;
  position: absolute;
  top: 88%;
  width: 90%;
}
.early-access__text {
  color: #ffffff;
  margin: 50px 30px 30px;
  text-align: center;
}
.early-access__text h2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}
.early-access__text p {
  font-size: 15px;
  line-height: 150%;
}
.early-access__form {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}
.early-access__form input {
  border: none;
  border-radius: 50px;
  margin-bottom: 25px;
  padding: 15px 0 15px 25px;
}
.early-access__form input:focus {
  outline: none;
}
.early-access__form span {
  display: none;
}
.early-access__form span.invalid-email {
  color: #ff4242;
  display: block;
  font-size: 12px;
  margin-top: -25px;
  margin-bottom: 10px;
}
.early-access__form button {
  background: linear-gradient(to right, #65e2d9 0%, #65e2d9 10%, #339ecc 100%);
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding: 15px;
}/*# sourceMappingURL=style.css.map */