.stay-productive {
	display: flex;
	flex-direction: column;
	margin-top: 80px;

	@media screen and (min-width: 1024px) {
		flex-direction: row;
		margin-top: 20px;
	}

	&__image {
		width: 90%;
		margin: 0 5%;

		@media screen and (min-width: 1024px) {
			margin-left: 150px;
			width: 55%;
		}

		& img {
			width: 100%;
		}
	}

	&__text {
		color: $white;
		margin: 50px 15px;

		@media screen and (min-width: 1024px) {
			margin: 100px 150px 0 0px;
		}

		& h2 {
			font-family: "Raleway", sans-serif;
			font-size: 20px;
			font-weight: 700;
			text-align: center;

			@media screen and (min-width: 1024px) {
				font-size: 30px;
				margin-right: 250px;
				text-align: left;
			}
		}

		& p {
			margin: 15px 10px;

			@media screen and (min-width: 1024px) {
				margin: 15px 0;
			}
		}

		& button {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $cyan;
			display: flex;
			color: $cyan;
			cursor: pointer;
			font-size: 14px;
			margin-left: 10px;
			padding-bottom: 5px;
			transition: 0.2s linear;

			@media screen and (min-width: 1024px) {
				margin-left: 0;
			}

			& img {
				margin-left: 8px;
				transition: 0.2s linear;
			}

			&:hover {
				border-color: $white;
				color: $white;
			}

			&:hover img {
				filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(212deg)
					brightness(106%) contrast(101%);
			}
		}
	}
}
